{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'ajira/style.css' %}" />
<a href="{% url 'ajira:add_post' %}">Add a Post</a>
<br>
<br>
{% if user.is_authenticated %}
    <p>Hello, {{ user.username }}</p>
    <a href="{% url 'ajira:logout' %}">Log out</a>
{% else %}
    <p><a href="{% url 'ajira:register' %}">Sign Up</a></p>
    <p><a href="{% url 'ajira:login' %}">Sign In</a></p>
    {% if posts_list %}
        <ul>
        {% for post in posts_list %}
            <li>
                <img src="{{ post.image.url }}" width="50" height="50"/>
                <a href="{% url 'ajira:detail' post.id%} ">{{ post }}</a>
            </li>

        {% endfor %}
        </ul>
    {% else %}
        <p>No posts are available.</p>
    {% endif %}
{% endif %}