{% extends 'ajira/base.html' %}
{% block title %}
    {% if edit %}
        Edit Post | Ajira
    {% else %}
        Add Post | Ajira
    {% endif %}
{% endblock %}




{% block body %}
<div class="container-fluid">
    <div class="row top-margin">
        <div class="col-sm-12 col-md-4 col-md-offset-4 section white-section">
            <div class="section-header">
                <div class="xl-title black-text">
                    {% if edit == True %}
                        Edit Post
                    {% else %}
                        Add Post
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-4 col-md-offset-4 section white-section no-padding">
            <div class="">
                <div class="panel-body">
                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'ajira/form-template.html' %}
                        <div class="form-group">
                            <div class="">
                                <button type="submit" class="btn submit-btn">
                                    {% if edit %}
                                        Update Post
                                    {% else %}
                                        Add Post
                                    {% endif %}
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}