<!-- User view to see all post he has posted -->
{% extends 'ajira/base.html' %}
{% load static %}
{% block title %}My Posts | Ajira {% endblock %}
{% block body %}
    <div class="container-fluid">
        {% if user.is_authenticated %}

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="col-md-3">
                        <!-- Minimized profile view -->
                        <div class="section profile-section top-margin">

                            <div class="section background-section" style="
                                height: 120px;
                            ">
                                <img class="background-img" src="{% static 'ajira/images/kunduchi.jpg' %}">
                            </div>

                            <div class="section details-section white-section">

                                <div class="profile-pic" style="
                                    text-align: center;
                                    top: -60px;
                                    ">
                                    <img src="{% static 'ajira/images/background.gif' %}" class="img-circle profile-img" width="100" height="100"/>
                                </div>

                                <div class="section-header profile-details">
                                    <div class="bg-title black-text">
                                            {{ user.first_name }} {{ user.last_name }}
                                    </div>

                                    <div>
                                        <div class="black-text bg-text">{{ user.job_title }}</div>
                                        <div class="company n-text">{{ user.company_name }}</div>
                                        <div class="location n-text">Bukoba, Tanzania</div>
                                        <div class="resume n-text">
                                            <a href="{% url 'ajira:view_profile' user.id %}" style="
                                                text-decoration: underline;
                                                color: purple;
                                            ">
                                                View Full Profile
                                            </a>
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>

                    <!-- Posts list display -->
                    <div class="col-md-6">

                        <div class="section ad-section white-section top-margin">
                            <div class="black-text bg-text">{{ user.first_name }}'s Posts</div>
                        </div>

                            {% if user_posts %}

                                {% for post in user_posts %}
                                    <div class="section white-section">
                                        <div class="row post-manage">
                                            <!-- Delete -->
                                            <form action="{% url 'ajira:delete_post' post.id %}" class="danger" method="post" style="display: inline;">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger btn-sm right-floater">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </form>

                                            <!-- Edit -->
                                            <form action="{% url 'ajira:edit_post' post.id %}" method="post" style="display: inline;">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-default btn-sm right-floater">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                            </form>

                                            <div class="post-img">
                                                <a href="{% url 'ajira:detail' post.id%} ">
                                                    <img src="{{ post.image.url }}" class="img-rounded" width="100" height="100"/>
                                                </a>
                                            </div>

                                            <br>

                                            <div class="title">
                                                <a href="{% url 'ajira:detail' post.id%} " style="color: black;">
                                                    <div class="bg-title black-text">{{ post.title }}</div>
                                                </a>
                                            </div>

                                            <div class="company">
                                                <a href="{% url 'ajira:detail' post.id%} " style="color: black;">
                                                    {{ post.company }}
                                                </a>
                                            </div>
                                            <div class="location">
                                                <span>
                                                    Dar-es-Salaam, TZ
                                                </span>
                                            </div>

                                            <div class="">
                                                <span>
                                                    5 days ago
                                                </span>
                                            </div>
                                        </div>
                                    </div>



                                {% endfor %}

                            {% else %}
                                <p>No posts are available.</p>
                            {% endif %}

                    </div>
                </div>
            </div>
        {% else %}
            <p><a href="{% url 'ajira:register' %}">Sign Up</a></p>
            <p><a href="{% url 'ajira:login' %}">Sign In</a></p>
        {% endif %}
    </div>

{% endblock %}